
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Make sure the app takes at least the full screen height */
    text-align: center;
    /* This helps with default centering */
}

.main-content {
    flex: 1;
    /* Allows this element to grow and take up remaining space */
    padding: 20px;
    /* Add some spacing around your page content */
}

/* A reset to remove default browser margins */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif; }